<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    
    <link rel="stylesheet" href="/library/bootstrap/bootstrap.min.css">
    <script src="/library/bootstrap/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/library/fastbootstrap/fastbootstrap.min.css">

</head>
<body>
    <main class="container p-5">
        <div class="container text-center">
            <h1 class="display-1 fw-bold">Welcome</h1>
        </div>
        <div class="container d-flex flex-column justify-content-center w-50 gap-5 p-10">
            <a href="/login" class="btn btn-lg btn-primary">Login</a>
            <a href="/home" class="btn btn-lg btn-outline-primary">Guest</a>
        </div>
    </main>
</body>
</html>